<h1>Pokedex</h1>



<!-- <div class="card-columns">
  <div class="card" *ngFor="let pokemon of pokemones; let i = index">
    <img [src]="pokemon.img" class="card-img-top" [alt]="pokemon.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.nombre }}</h5>
      <p class="card-text">{{ pokemon.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ pokemon.region }}</small></p>

      <button (click)="verPokemon(i)"
        type="button" class="btn btn-outline-primary btn-block" >
        Ver más...
      </button>
      <!-- <a [routerLink]="['/pokemon',i]" class="btn btn-outline-primary">Ver más link...</a>

    </div>
  </div>

</div> -->

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor="let pokemon of pokemones; let i = index">
    <div class="card h-100" >
      <img [src]="pokemon.img" class="card-img-top" [alt]="pokemon.nombre">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.nombre}}</h5>
        <p class="card-text">{{pokemon.bio}}</p>
        <p class="card-text"><small class="text-muted">{{ pokemon.region }}</small></p>

        <button (click)="verPokemon(i)"
        type="button" class="btn btn-outline-primary btn-block" >
        Ver más...
      </button>
      </div>
    </div>
  </div>
</div>