<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="pokemones.length == 0">
  <div class ="cols-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: {{termino}}
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor="let pokemon of pokemones; let i = index">
    <div class="card h-100" >
      <img [src]="pokemon.img" class="card-img-top" [alt]="pokemon.nombre">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.nombre}}</h5>
        <p class="card-text">{{pokemon.bio}}</p>
        <p class="card-text"><small class="text-muted">{{ pokemon.region }}</small></p>

        <button (click)="verPokemon(i)"
        type="button" class="btn btn-outline-primary btn-block" >
        Ver más...
      </button>
      </div>
    </div>
  </div>
</div>
